---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Marzo 2023 - Agosto 2023",
    title: "Ayudante investigador",
    company: "PUCV",
    description:
      "Desarrollé un algoritmo en Python que mejoró la precisión de la optimización global en el proyecto FONDECYT 1200035, “Exact Methods for Continuous and no-convex multiobjetive optimization problems”.",
  },
  {
    date: "Abril 2022 - Junio 2022",
    title: "Analista programador",
    company: "ANS S.A.",
    description:
      "Terminación del proyecto empezado en la práctica. Integré varios servicios de Microsoft Azure para así darle mayor funcionalidad al producto, y también agregarle un valor extra.",
  },
  {
    date: "Enero 2022 - Febrero 2022",
    title: "Analista programador (Práctica)",
    company: "ANS S.A.",
    description:
      "Desarrollé una aplicación web con Angular, Bootstrap y Express. Integración de algunos servicios de Microsoft Azure.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
