---
const personalImageAlt = "Juan Pablo";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/jfross.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/jfuentealbaross/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Juan Pablo Fuentealba Ross
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Soy <strong>Ingeniero Civil Inform치tico</strong> de la Pontif칤cia Universidad
    Cat칩lica de Valpara칤so. Tengo 1 a침o de experiencia laboral. Vivo en Quilpu칠,
    V Regi칩n, Chile 游뻟릖. Especializado en el desarrollo de aplicaciones web 칰nicas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:j.fuentealba.ross@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/jfuentealbaross/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
